@import 'constants';
@import 'colours';

button, .button {
    background-color: inherit;
    color: $font-dark-secondary;
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding: 0 .5em;
    line-height: $form-control-height;
    transition: all 150ms linear;

    &:focus, &:hover {
        background-color: rgba($black, .1);
    }

    &:active {
        background-color: rgba($black, .25);
        transition: none;
    }

    i {
        font-size: $form-control-height * .66;
        vertical-align: middle;
    }

    &[disabled] {
        background-color: rgba($black, .1);
        opacity: .5;
        cursor: default;
        pointer-events: none;
    }

    &.primary {
        background-color: $brand-primary;
        color: $font-light-primary;

        &:focus, &:hover {
            background-color: darken($brand-primary, 7.5);
        }

        &:active {
            background-color: darken($brand-primary, 15);
        }

        &[disabled] {
            background-color: desaturate($brand-primary, 30);
        }
    }

    &.accent {
        background-color: $brand-accent;
        color: $font-light-primary;

        &:focus, &:hover {
            background-color: darken($brand-accent, 7.5);
        }

        &:active {
            background-color: darken($brand-accent, 15);
        }

        &[disabled] {
            background-color: desaturate($brand-accent, 30);
        }
    }
}
