$black: #000;
$grey-darkest: #333;
$grey-darker: #555;
$grey-dark: #777;
$grey-mid: #999;
$grey-light: #a9a9a9;
$grey-lighter: #ccc;
$grey-lightest: #e4e4e5;
$off-white: #fafafa;
$white: #fff;

$font-dark-primary: rgba($black, .87);
$font-dark-secondary: rgba($black, .54);
$font-dark-hint: rgba($black, .38);
$font-dark-decoration: rgba($black, .12);

$font-light-primary: $white;
$font-light-secondary: rgba($white, .7);
$font-light-hint: rgba($white, .5);
$font-light-decoration: rgba($white, .12);

$brand-primary: #673ab7;
$brand-accent: #0097A7;
