@import 'constants';
@import 'colours';

input[type='search'], input[type='text'], input[type='password'] {
    font-size: 1em;
    line-height: $form-control-height;
    padding: 0 .5em;
    border: 1px solid $font-dark-decoration;
    width: 100%;
    color: $font-dark-primary;

    &:focus {
        outline: none;
        border: 1px solid lighten($brand-primary, 30);
    }

    &.accent {
        &:focus {
            border: 1px solid $brand-accent;
        }
    }

    &.with-addon {
        border-right: 0 !important;
    }
}
