@import '../../scss/_colours';
@import '../../scss/mixins';

.ImageSidebar {
    width: 16%;
    min-width: 240px;
    padding: 2rem 1rem;

    .sidebar-section {
        border: 1px solid $font-dark-decoration;
        padding: 1rem;
        margin-bottom: 1em;

        &.search-section {
            display: flex;
            flex-flow: row nowrap;

            input {
                flex: 1;
            }
        }

        &.upload-section {

            .upload-form {
                position: relative;

                .upload-spinner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: none;
                    background-color: rgba($white, .9);

                    .uploading {
                        @include absolute-center;

                        .Spinner {
                            margin-right: .5em;
                        }
                    }
                }

                &.upload-pending {

                    .upload-spinner {
                        display: block;
                    }

                }
            }
        }
    }
}
