@import 'scss/reset';
@import 'scss/colours';
@import 'scss/typography';
@import 'scss/forms';
@import 'scss/buttons';

html, body {
    background-color: $grey-lightest;
}

* {
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}
