@import '../../scss/colours';
@import '../../scss/mixins';

.EditableLink {
    .link-display {
        span, a, i {
            vertical-align: middle;
        }

        span {
            color: $font-dark-secondary;
        }

        i {
            color: $brand-primary;
            font-size: 1.25em;
            margin-left: .5em;
            opacity: .5;
            cursor: pointer;
            transition: all 100ms linear;

            &:hover {
                opacity: 1;
            }
        }
    }

    .link-form {
        @include flex-row-wrap;

        .link-input {
            width: auto;
            border-right: 0;
        }
    }
}
