@import '../../scss/colours';
@import '../../scss/mixins';

.TagEditor {
    .add-tag-section {
        @include flex-row-nowrap;
        margin-bottom: 1em;

        input {
            flex: 1;
        }
    }

    .tag-editor-list {
        .tag-editor-list-item {
            @include flex-row-nowrap;
            padding: .25em 0;

            .tag {
                flex: 1;

                &.added {
                    color: $traffic-light-green;
                }

                &.deleted {
                    color: $traffic-light-red;
                    text-decoration: line-through;
                }
            }

            i {
                color: $brand-accent;
                opacity: .25;
                cursor: pointer;
                transition: all 150ms linear;
            }

            &:hover {
                i {
                    opacity: .5;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .save-button {
        width: 100%;
        font-size: 1em;
        padding: .25em 0;
        margin-top: 1em;
    }
}
