@import '../../scss/colours';
@import '../../scss/mixins';

.TagsSidebar {
    @include sidebar;
    padding: 2rem 1rem;

    .Panel {
        margin-bottom: 1rem;

        .PanelHeader {
            h2 {
                font-size: 1.125em;
            }
        }

        .search-panel-body {
            .search-container {
                @include flex-row-nowrap;

                input {
                    border-right: 0;
                }
            }
        }

        .search-results-list {
            .search-result-item {
                @include tag-type-selectable;
                padding-top: 1em;
                padding-bottom: .75em;
            }
        }
    }
}
