@import '../../scss/colours';

.AutocompleteInput {
    position: relative;

    .dropdown-box {
        position: absolute;
        width: 100%;

        .suggestion-list {
            width: 100%;
            background-color: $white;
            border: 1px solid $font-dark-decoration;
            border-top: 0;

            .suggestion {
                line-height: 1.6;
                padding: 0 .5em;
                cursor: pointer;

                &.selected {
                    background-color: $brand-accent;
                    color: $font-light-primary;
                }
            }
        }
    }
}
