@import '../../scss/constants';
@import '../../scss/colours';
@import '../../scss/mixins';

$navbar-height: 3rem;
$navbar-background: darken($brand-primary, 12.5);

.Navbar {
    @include flex-row-nowrap;
    background-color: $navbar-background;
    padding: 0 $page-gutter;
    box-shadow: 0 3px 8px 0 rgba(darken($brand-primary, 20), .75);

    .home-link {
        text-decoration: none;
        margin-right: 3em;

        h1 {
            color: $font-light-primary;
            font-size: 1.25rem;
            font-weight: 500;
            height: $navbar-height;
            line-height: $navbar-height;
        }
    }

    .nav-link-list {
        @include flex-row-wrap;
        align-items: center;

        .nav-link {
            display: inline-block;
            height: $navbar-height;
            line-height: $navbar-height;
            padding: 0 1.5em;
            background-color: $navbar-background;
            color: $font-light-primary;
            text-decoration: none;
            transition: all 150ms linear;

            &:hover {
                background-color: $brand-primary;
            }

            &:active, &.active {
                background-color: $brand-accent;
                transition: none;
            }
        }
    }

}
