@import '../../scss/constants';
@import '../../scss/colours';

.Navbar {
    background-color: darken($brand-primary, 12.5);
    padding: .75rem $page-gutter;
    box-shadow: 0 3px 8px 0px rgba(darken($brand-primary, 20), .75);

    .home-link {
        text-decoration: none;

        h1 {
            color: $font-light-primary;
            font-size: 1.25em;
            font-weight: 500;
        }
    }

}
