@import '../../scss/colours';
@import '../../scss/mixins';

.ImagesPageThumbnailGallery {
    padding: 2rem;

    .thumbnail-list {
        @include flex-row-wrap;
        align-items: flex-start;
        justify-content: space-between;

        .thumbnail-list-item {
            padding: 1rem;
        }

        .end-padding {
            flex: 1;
        }
    }

    .page-navigation {
        padding: 1em 0 2.5em;

        .nav-buttons {
            @include flex-row-wrap;
            align-content: center;
            justify-content: center;

            .nav-button {
                margin: .25em;

                &.current {
                    background-color: $brand-primary;
                    border: 1px solid $brand-primary;
                    color: $white;
                }

                &.link {
                    border: 1px solid $brand-accent;
                    transition: all 100ms linear;
                    height: 2.5em;

                    &.button-link {
                        a {
                            padding: 0;

                            i {
                                position: relative;
                                font-size: 2em;
                                top: .1em;
                            }
                        }
                    }

                    &:hover {
                        background-color: $brand-accent;

                        a {
                            color: $white;
                        }
                    }

                    a {
                        color: $brand-accent;
                        text-decoration: none;
                    }
                }

                a, span {
                    display: block;
                    padding: 0 .5em;
                    font-weight: 500;
                    line-height: 2.5em;
                }

            }
        }
    }
}
